/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;

    background-image: url('/static/background.jpg'); /* main background image */
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigation styles */
nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



/* Main content styles */
.main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.form-group input[type="submit"]:hover {
    background-color: #555;
}

/* Error message styles */
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

/* Success message styles */
.success-message {
    color: #008000;
    font-size: 14px;
    margin-top: 5px;
}

/* Grid Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ee0707;
}

.grid-item strong {
    font-weight: bold;
}

/* base.html footer */

.footer-text {
    color: #000000; /* gray color */
    text-align: center;
    margin-top: 20px;
}

/* Footer styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer form {
    margin-top: 10px; /* Adjust margin as needed */
}

/* smaller font */
.smaller-font span {
    font-size: 13px; /* Adjust this value as needed */
}