{% extends "base.html" %}

{% block title %}Sign In - {{ super() }}{% endblock %}

{% block content %}
    <h2>Sign In</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}</p>
        <p>{{ form.username }}</p>
        <p>{{ form.password.label }}</p>
        <p>{{ form.password }}</p>
        <p>{{ form.submit }}</p>
    </form>
    <hr>
    <form action="{{ url_for('register') }}" method="get">
        <button type="submit">Register</button>
    </form>
    
{% endblock %}